/* Primary Styles
   Author: Manny Blum
*/

html {
  background: #fff;
}

body {
   font-family:Arial,"MS Trebuchet",sans-serif;
   font-size:14px;
   color:#202020;
   background: #CCCCCC; /* old browsers */
   background: -moz-linear-gradient(top, #CCCCCC 0%, #FFFFFF 100%); /* firefox */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCCCC), color-stop(100%,#FFFFFF)); /* webkit */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#FFFFFF',GradientType=0 ); /* ie */
 }

a {
  color:#cc6600;
  text-decoration:none;
  cursor:pointer;
}

a:hover {
  color:#cc6600;
  text-decoration:underline;
}

a:active {
  position:relative;
  top:1px;
}

a:visited {
  color:#cc6600;
}

.upper {
  text-transform:uppercase;
}

#container {
  width:620px;
  margin:0px auto;
  padding:16px 0;
}

#breadcrumbs {
  list-style-type:none;
  margin:0;
  padding:0;
  font-size:12px;
  line-height:1.3;
}

#breadcrumbs li {
  float:left;
  padding:0 5px 0 0;
}

#breadcrumbs li a {
  color:#cc6600;
  padding:0 5px 0 0;
}

/* .post */

.post h1 {
  font-size:26px;
  /* font-size: 18px; - looked more like a 30 but 
   * put this just in case */
  line-height:1.3;
  font-weight:normal;
  font-family: Georgia,"Times New Roman",Times,serif;
  margin-bottom:20px;
}

.post h1 a {
  color:#000;
}

.post-body .image {
  width:170px;
  float:left;
  font-size:12px;
}

.post-body .image .photo-copyright {
  color:#666666;
  font-size:10px;
  text-align:right;
  margin-bottom:15px;
}

.post-body .image .enlarge {
  text-transform:uppercase;
  font-size:11px;
  padding-left:20px;
  margin-bottom:10px;
  display:block;
  background: url('../images/sprites.gif') 0 -390px no-repeat;
}

.post-body .content {
  width:430px;
  float:right;
}

.content .author a {
  font-weight:bold;
}

.content .author span {
  display:block;
  font-size:11px;
  margin-bottom:15px;
}

.content .update {
  font-size:13px;
}

.content .pubdate {
  margin-bottom:10px;
  font-size:13px;
}

.content .normaltext {
  font-size:14px;
}

.content .largetext {
  font-size:16px;
}

.entry p {
  margin-bottom:10px;
}

.postmetadata {
  margin:0;
  padding:7px 0;
  list-style-type:none;
  border-top:1px dotted #000;
  margin-bottom:10px;
}

.postmetadata li {
  float:left;
  font-size:11px;
  line-height:14px;
  padding-right:5px;
}

.postmetadata li a {
  color:#000;
  line-height:14px;
  padding-right:5px;
  padding-left:20px;
  background:url('../images/sprites.gif') top left no-repeat;
}

.postmetadata li.comment a {
  background-position:0 -480px;
}

.postmetadata li.email a {
  background-position:0 -255px;
}

.postmetadata li.print a {
  background-position:0 -300px;
}

.postmetadata li.share a {
  background-position:0 -346px;
}

.postmetadata li.normal a {
  background-position:0 -390px;
}

.postmetadata li.large a {
  background-position:0 -435px;
}

.postmetadata li a:hover {
  text-decoration:underline;
}



@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome) */ 
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

